/* FOGLIO DI STILE CSS - ORDINATO
ALFABETICAMENTE PER TAGS - CLASSI - ID */

/* TAGS */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
body{
  padding-top: 80px;
}
footer{
  background-color: #010e28;
}
nav > .container > ul > li{
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}
nav > .container > ul > li > a{
  color: black;
}
nav > .container > ul > li > a:hover{
  color: #0049ff;
  text-decoration: none;
}
nav > .container > ul{
  display: inline-block;
  padding-top: 28px;
}

/* CLASSI */
.backbianco{
  background-color: white;
  text-align: center;
  margin-top: 22px;
  border-radius: 10px;
}
.backbianco > h2{
  font-size: 36px;
  padding-top: 14px;
}
.backbianco > h3{
  color: #0049ff;
  font-size: 30px;
  margin-top: 5px;
}
.backbianco > p{
  font-size: 14px;
  padding: 10px 0;
}
.city{
  padding-left: 40px;
}
.customers{
  background-color: #f2f2f2;
  margin-top: 0;
  padding-top: 50px;
  text-align: center;
}
.customers > h3{
  margin-top: 0;
  font-size: 20px;
  color: #757575;
}
.customers > div > div > img{
  width: 140px;
  height: 87px;
  padding-top: 15px;
}
.customers > p{
  padding: 30px;
}
.deploy{
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.deploy > h2{
  font-size: 40px;
}
.deploy > p{
  font-size: 20px;
  color: #757575;
}
.deployimg{
  padding-bottom: 50px;
}
.designed{
  padding-bottom: 20px;
}
.designed > h2{
  font-size: 34px;
}
.designed > p{
  font-size: 21px;
  padding-top: 15px;
}
.designed > img{
  padding: 35px 0;
}
.features{
  padding-bottom: 50px;
}
.features > h2{
  margin-top: 0;
  padding-top: 70px;
  text-align: center;
  padding-bottom: 30px;
}
.features > div > div > img{
  height: 36px;
}
.features > div > div > h3{
  font-size: 19px;
}
.fine{
  padding-top: 30px;
  padding-bottom: 50px;
}
.fine > h4{
  color: #c4c4c4;
  font-size: 16px;
}
.fine > h5{
  color: white;
  font-size: 18px;
}
.fine > p{
  color: #8f8f8f;
}
.fine > ul{
  list-style-type: none;
}
.fine > ul > li{
  padding-top: 7px;
  font-size: 17px;
}
.fine > ul > li > a{
  color: #bfbfbf;
}
.fine > ul > li > a:hover{
  color: #0049ff;
  text-decoration: none;
}
.form-group{
  margin-bottom: 0;
}
.form-control{
  padding: auto 30px;
}
.minisezioni > div > ul{
  margin-left: 100px;
  list-style-type: none;
  border-left: solid #d6d6d6 2px;
  padding-left: 12px;
}
.minisezioni > div > ul > li{
  font-size: 20px;
  padding-bottom: 18px;
  color: #757575;
}
.navbar{
  margin-bottom: 30px;
}
.oceano{
  background-color: #0049ff;
  padding-top: 60px;
  padding-bottom: 80px;
}
.oceano > h2{
  text-align: center;
  color: white;
  padding-bottom: 15px;
}
.oceano > div > div > ul{
  list-style-type: none;
  border-bottom: white solid 1px;
  color: white;
}
.oceano > div > div > ul > li{
  display: inline-block;
  padding-bottom: 5px;
}
.prefoot{
  background-color: #0049ff;
  text-align: center;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
}
.prefoot > h2{
  font-size: 38px;
}
.speedtest{
  float: right;
}
.speedtest > a{
  color: #30e0ff;
}
.titolo > h1{
  font-size: 55px;
  color: white;
  padding-top: 20px;
}
.titolo > p{
  font-size: 22px;
  color: #bebfc2;
}
.jumbotron{
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
  padding-bottom: 100px;
  margin-bottom: 0;
}

/* ID */
#buttonfoot {
  margin-top: 15px;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 8px;
  border: #0049ff solid 1px;
  background-color: white;
  color: #0049ff;
}
#buttonfoot:hover{
  background-color: black;
  color: white;
  transition: background-color .25s linear,border-color .25s linear,color .25s linear;
}
#create{
  margin-top: 15px;
  padding: 7px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: #0049ff solid 1px;
  background-color: #0049ff;
  color: white;
}
#create:hover{
  background-color: white;
  color: #0049ff;
  transition: background-color .25s linear,border-color .25s linear,color .25s linear;
}
#google{
  margin-top: 15px;
  padding: 7px 0;
  width: 100%;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: white;
  color: black;
}
#google:hover{
  color: white;
  background-color: black;
  transition: background-color .25s linear,border-color .25s linear,color .25s linear;
}
#googleicon{
  height: 25px;
  float: left;
  padding-left: 10px;
}
#lastone{
  border-bottom: none;
}
#left{
  float: left;
}
#logo{
  height: 40px;
  margin-right: 50px;
}
#right{
  float: right;
}
#signup{
  padding: 10px 12px 6px 12px;
  border-radius: 8px;
  border: #0049ff solid 1px;
  background-color: rgba(255, 0, 0, 0.0);
  color: #0049ff;
}
#signup:hover {
  color: white;
  background-color: #0049ff;
  transition: background-color .25s linear,border-color .25s linear,color .25s linear;
}
#tagghi > li{
  display: inline-block;
  padding-top: 5px;
  padding-right: 8px;
  font-size: 20px;
}
#tagghi > li > a{
  color: #c4c4c4;
}
#tagghi > li > a:hover{
  color: #0049ff;
}

@media (max-width: 992px){
  .minisezioni > div > ul{
    margin-left: 0;
    margin-bottom: 20px;
  }
  .features > div > div{
    padding-bottom: 40px;
  }
  .oceano > div > div{
    padding-bottom: 20px;
  }
}
