*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
div{
  height: 100px;
}
body{
  padding-top: 100px;
}
#logo{
  height: 40px;
  margin-right: 50px;
}
nav > .container > ul > li{
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}
nav > .container > ul > li > a{
  color: black;
}
nav > .container > ul > li > a:hover{
  color: #0049ff;
  text-decoration: none;
}
nav > .container > ul{
  display: inline-block;
  padding-top: 28px;
}
.navbar{
  margin-bottom: 30px;
}
.titolo > h1{
  font-size: 48px;
  color: white;
}
.titolo > p{
  font-size: 28px;
  color: #bebfc2;
}
.jumbotron{
  background-image: url(https://www.digitalocean.com/assets/media/homepage/bg-home-1-d54581d7.jpg);
  background-size: cover;
  height: 700px;
}
.backbianco{
  background-color: white;
}
#right{
  float: right;
}
#left{
  float: left;
}
#signup{
  padding: 10px 12px 6px 12px;
  border-radius: 8px;
  border: #0049ff solid 1px;
  background-color: rgba(255, 0, 0, 0.0);
  color: #0049ff;
}
#signup:hover{
  color: white;
  background-color: #0049ff;
  transition: background-color .25s linear,border-color .25s linear,color .25s linear;
}
